
<div class="container">
  <div class="col-4 offset-4 my-5 bg-white py-4 rounded shadow">
    <div class="row">
      <h1 class="text-center mb-4">Stupid Coaching</h1>
      <p class="text-center mb-4">Ask your coach anything</p>
    </div>
    <div class="row">
      <form action="/answer" method="get" data-turbo="false" class="row align-items-center mb-3">
      <div class="col-9 offset-1">
        <input type="text" id="form1" name="question" placeholder="What should I eat?" class="form-control">
      </div>
      <div class="col-1 d-flex justify-content-center">
        <input type="submit" value="Ask!" class="btn btn-primary">
        </div>
      </form>
    </div>
  </div>
</div>
